# =========================================================
# Node / JS
# =========================================================

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================================================
# Environment variables
# =========================================================

.env
.env.local
.env.*.local

# =========================================================
# Frontend build output (Vite)
# =========================================================

frontend/dist/
frontend/.vite/

# =========================================================
# Hardhat / Solidity
# =========================================================

solidity/artifacts/
solidity/cache/
solidity/node_modules/
solidity/typechain-types/

# =========================================================
# OS files
# =========================================================

.DS_Store
Thumbs.db

# =========================================================
# Editor / IDE
# =========================================================

.vscode/
.idea/

# except recommended VSCode settings if you want them
!.vscode/extensions.json