.app {
  padding: 20px;
  position: relative;
}

.title {
  margin-bottom: 20px;
}

.utility-button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 5px;
}

.chrome-picker input {
  color: #ffffff !important;
}

.chrome-picker label {
  color: #262626 !important;
}

.board-canvas {
  display: block;
  background-color: white;
}
